.App {
  text-align: center;
}

body {
  background-color: #d9d9d9;
  margin: 7px;
}

.text {
  color: black;
}

.review-gallery {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-column: span 2;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.review-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.read-more {
  color: black;
  font-style: normal;
  font-size: 12px;
}

.review-title {
  grid-column: 1 / span 3;
  align-self: center;
}

#review-body {
  grid-column: 1 / span 4;
  overflow: hidden;
  width: 95%;
  text-overflow: clip;
  height: 3.5em;
  white-space: wrap;
  align-self: start;
}

.image-container {
  grid-column: 1 / span 3;
}

.review-card {
  border: 1px #bababa solid;
  background-color: rgb(60, 110, 113, 0.4);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  max-width: 300px;
  max-height: 450px;
  overflow: hidden;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 2fr 2fr 1fr;
  box-shadow: 5px 8px #9b9b9b;
}

.single-review-card {
  max-height: fit-content;
  border: 2px black solid;
  display: grid;
  grid-column: span 2;
  justify-self: center;
  grid-template-columns: 2fr;
  grid-template-rows: auto auto auto auto;
}
.single-review-img {
  height: 100px;
  width: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#main-header {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #353535 0%,
    #3c6e71 35%,
    #bababa 67%,
    #284b63 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
}
